@charset "UTF-8";

/* Hidden class for document outline*/
.hidden {
  display: none;
}

html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', arial, helvetica;
  background-color: #2d2d2d;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
}

.hero-video {
  margin: 2rem 0;
  width: 100%;
  background-color: black;
  display: flex;
}

.hero-video video {
  margin: 0 auto;
  margin-top: 3vh;
  width: 100%;
  max-width: 1600px;
  height: 100%;
}

.hero-video video:focus {
  outline: none;
  border: none;
}

.header {
  background-color: #C81028;
  height: 5vh;
  min-height: 44px;
  width: 100%;
  display: flex;
  padding: .5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  margin-left: 1.5rem;
  height: auto;
}

/* Desktop Navigation */
.nav {
  font-size: 1.6rem;
  margin-left: auto;
}

.des-nav {
  display: none;
}

.des-nav li {
  display: inline-block;
  margin-right: 6rem;
}

.des-nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}

.des-nav a:hover {
  background-color: #b01926;
  border-radius: 1rem;
  transition: all .2s;
}

/* Mobile Navigation */
.mob-header {
  align-self: flex-end;
}

.mob-header img {
  width: 2.5rem;
  margin-right: 1rem;
  z-index: 1001;
}

.mob-nav {
  width: 60%;
  height: 100vh;
  transform: translateX(0%);
  background: #C81028;
  background: -webkit-linear-gradient(55deg, rgba(0, 0, 0, 1) 10%, rgba(91, 8, 15, 1) 100%);
  background: -o-linear-gradient(55deg, rgba(0, 0, 0, 1) 10%, rgba(91, 8, 15, 1) 100%);
  background: linear-gradient(-45deg, rgba(0, 0, 0, 1) 10%, rgba(91, 8, 15, 1) 100%);
  position: fixed;
  right: 0;
  bottom: 0;
  transition: all 1s;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mob-nav__hidden {
  transform: translateX(100%);
}

.mob-nav ul {
  width: 100%;
}

.mob-nav li {
  display: block;
  padding: 1rem 6rem;
  width: 100%;
  margin: 2rem 0px;
}

.mob-nav a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-size: 3rem;
  transition: all .4s;
}

.mob-nav li:hover {
  background-color: #C81028;
  transition: all .4s;
}

.exit-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 100000
}

.exit-btn img {
  width: 3rem;
}

/* Hero */
.hero {
  width: 100%;
  margin-top: 7vh;
  display: flex;
  height: 100%;
}

.hero img {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  height: 100%;
}

/* Home guide */
.home-guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 2rem;
}

.home-guide__button {
  width: 100%;
  max-width: 160rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #C81028;
  background-color: rgb(217, 217, 217);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 3rem;
  box-sizing: border-box;
  border-radius: 1rem;
  margin: 2.5rem 0;
  text-transform: uppercase;
  transition: all .3s;
  overflow: visible;
}

.home-guide__button:hover {
  transform: translateY(-1rem);
}

.home-guide__button img {
  height: 6rem;
  margin-right: 1rem;
  padding: 2rem;
}

/* About us page */
.aboutus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.aboutus__box {
  width: 50%;
  max-width: 56rem;
  min-width: 38rem;
  border-radius: .5rem;
  background-color: rgb(217, 217, 217);
  margin: 3rem 2rem 2rem 2rem;
  overflow: hidden;
  position: relative;
}

.aboutus__box-text {
  padding: 2rem;
  box-sizing: border-box;
}

.aboutus__box_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25rem;
  display: none;
}

.aboutus__box_img_bottles {
  background-image: url("../images/legacy-img.png");
}

.aboutus__box_img_caps {
  background-image: url("../images/collabIMG.png");
}

.aboutus__box_img_quality {
  background-image: url("../images/quality-img.png");
}

.aboutus__box-text h3 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #C81028;
  letter-spacing: 1.35px;
  width: 80%;
  margin-bottom: 2rem;
}

.aboutus__box-text p {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: black;
  letter-spacing: .5px;
  margin-bottom: 2rem;
}

.aboutus-quote__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(94, 94, 94);
}

.aboutus-quote {
  font-size: 4rem;
  line-height: 4.5rem;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
  width: 80%;
}

.aboutus-author {
  font-size: 3.2rem;
  line-height: 4.5rem;
  color: #c9c9c9;
  font-weight: 400;
  letter-spacing: .96px;
}

.banner_ad {
  width: 100%;
  margin: 2rem auto;
  max-width: 150rem;
}

/* Process */
@keyframes processFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.descProcess {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 160rem;
  animation-name: processFadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

}

.descProcess-half {
  width: 48%;
  max-width: 100rem;
  min-width: 40rem;
  background-color: rgb(217, 217, 217);
  box-sizing: border-box;
  border-radius: 2rem;
  padding: 4rem;
  margin: 1rem auto;
}

.processTitle {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: #383737;
  text-transform: uppercase;
  width: 65%;
  margin-bottom: 1.6rem;
}

.processText {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: #c8102e;
  margin-bottom: 2rem;
}

.processText li {
  margin-bottom: 1rem;
}

.processLarge {
  font-size: 4rem;
  line-height: 4.2rem;
  font-weight: 600;
  width: 100%;
  color: #C8202F;
  letter-spacing: .2rem;
  margin-bottom: .5rem;
}

.processSmall {
  font-size: 2em;
  margin-bottom: .5rem;
}


.margin-large {
  margin-bottom: 3rem;
}

.space-out {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.about_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Contact page */
@keyframes lidFlip {
  0% {
    transform: rotateX(0deg);
    z-index: 5;
  }

  100% {
    transform: rotateX(180deg);
    z-index: 20;
  }
}

@keyframes openLetter {
  0% {
    top: 47%;
  }

  100% {
    top: 5%;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container-contact {
  max-width: 1366px;
  margin: 0 auto;
  display: block;
  position: relative;
  margin-bottom: 20vh;
  margin-top: 5vh;
}

.container-contact__top {
  width: 100%;
  position: relative;
  height: 25rem;
}

.container-contact__bottom {
  width: 100%;
  position: relative;
  height: 60rem;
  max-width: 160rem;
}

/* Envolope */
.envolope__top {
  width: 90%;
  height: 25rem;
  background: #bbbbbb;
  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  position: absolute;
  top: 48%;
  left: 5%;
  transform-origin: 50% 100%;
  animation-name: lidFlip;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-fill-mode: both;
}

.envolope__front {
  background-color: #e3e3e3;
  width: 90%;
  height: 60rem;
  -webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 15;
}

.envolope__back {
  background-color: #dad7d7;
  width: 90%;
  height: 60rem;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 5;
}

/* FORM */
.contact {
  width: 70%;
  height: 50vh;
  min-height: 500px;
  background-color: #ebebeb;
  position: absolute;
  top: 50%;
  left: 15%;
  z-index: 10;
  animation-name: openLetter;
  animation-duration: .7s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2), -1rem -.3rem 1rem rgba(0, 0, 0, 0.1);
}

.contact__form {
  width: 90%;
  height: 50vh;
  min-height: 500px;
  margin: 3rem auto;
  position: relative;
}

.form__logo {
  width: 100%;
}

.form__logo img {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 10%;
}

.contact__form h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #c8102e;
  padding: 1.5rem;
  margin: 2rem;
  text-transform: uppercase;
  display: block;
  border-bottom: 3px solid #c8102e;
}

.contact__form--form {
  font-size: 1.6rem;
  font-weight: 600;
  color: #c8102e;
}

.contact__form--form label {
  display: block;
  margin: 1.5rem 1.5rem .5rem 2.1rem;
}

.contact__form--form input[type=text], input[type=email] {
  font-size: 1.6rem;
  font-weight: 400;
  color: #c8102e;
  padding: 8px;
  margin-left: 1.5rem;
  border-radius: 1.6rem;
  border: 1px solid white;
  outline: none;
}

.contact__form--form textarea {
  font-size: 1.6rem;
  font-weight: 400;
  color: #c8102e;
  padding: 8px;
  margin-left: 1.5rem;
  width: 60%;
  border-radius: 1.6rem;
  border: none;
  outline: none;
  border: 1px solid white;
  resize: none;
  width: 80%;
  height: 9rem;
}

.contact__form--form input:focus {
  border: 1px solid #c8102e;
}

.contact__form--form textarea:focus {
  border: 1px solid #c8102e;
}

.btn {
  font-size: 3.4rem;
  font-weight: 600;
  color: white;
  background-color: #c8102e;
  padding: 2rem 3rem;
  border-radius: 50rem;
  text-transform: uppercase;
  outline: none;
  -webkit-appearance: none;
  border: none;
}

.submit__btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  z-index: 50;
  animation-name: opacity;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

/* Beer */
.margin-top__large {
  margin-top: 5rem;
}

.beerTitle {
  font-size: 2.2rem;
  line-height: 5rem;
  letter-spacing: .1rem;
  color: #C81028;
  text-transform: uppercase;
  font-weight: 600;
  margin: 4rem auto;
}

.beer-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.diagram {
  width: 80%;
  max-width: 1400px;
  margin: 0 4rem;
}

.diagram img {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: .5rem;
}

.diagram-info {
  width: 70%;
  max-width: 1400px;
  margin: 2rem 4rem;
  background-color: #DDDDDD;
  padding: 5%;
  /* box-sizing: border-box; */
  border-radius: .5rem;
  display: block;
  height: auto;
}

/* Info Boxes */
.boxes-of-4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 .5rem;
  flex-wrap: wrap;
}

.box-within {
  width: 15%;
  min-width: 13rem;
  max-width: 28rem;
  background-color: #C81028;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 15rem;
  border-radius: 1rem;
  margin: 2rem 3rem;
}

.box-within h4 {
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.box-within {
  font-size: 1.4rem;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
}

.box-within-unit {
  font-size: 4rem;
}

/*Our secret*/
.grid-color {
  background-color: #DDDDDD;
  border-radius: 1rem;
  margin: 1rem;
  max-width: 150rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-of-4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 0.5rem;
  flex-wrap: wrap;
}

.grid-box {
  font-size: 2rem;
  font-weight: 400;
  color: #C81028;
  width: 95%;
  max-width: 46rem;
  min-width: 18rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1rem;
}

.grid-box * {
  margin-bottom: 1.8rem;
}

.uppercase {
  text-transform: uppercase;
}

/* Footer */
.footer {
  height: 15rem;
  background-color: #C81028;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-transform: uppercase;
  margin-top: 4rem;
}

.footer-logo img {
  width: 14rem;
}

.footer-nav {
  margin: 0;
  font-size: 1.4rem;
}

.footer-nav li:last-child {
  margin: 0;
}

/* Media Query */
@media screen and (min-width: 600px) {
  .home-guide__button {
    font-size: 3.6rem;
    padding-left: 4rem;
  }

  .home-guide__button img {
    height: 7.5rem;
  }

  .beerTitle {
    font-size: 3.8rem;
  }
  .descProcess-half {
    min-width: 35rem;
  }

}

@media screen and (min-width: 910px) {
  .des-nav {
    display: block;
  }

  .mob-header {
    display: none;
  }

  .mob-nav {
    display: none;
  }

  .hero-video {
    height: auto;
  }

  .diagram-info {
    display: none;
  }

  .diagram {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .diagram img {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .diagram-info {
    display: none;
  }

  .beerTitle {
    font-size: 4.5rem;
  }
  .grid-box {
    margin: 3rem;
    width: 45%;
  }
  .grid-of-4 {
    margin: 0 2rem;
  }
  .grid-color {
    margin: 4rem;
  }
  .aboutus__box_img {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .aboutus__box_img {
    min-height: 28rem;
  }
}

@media screen and (min-width: 1250px) {
  .aboutus__box_img {
    min-height: 32rem;
  }

  .home-guide__button {
    font-size: 8rem;
    padding-left: 6rem;
  }

  .home-guide__button img {
    height: 19rem;
  }
  .boxes-of-4 {
    margin: 0 2rem;
  }

  .box-within {
    min-width: 23rem;
    max-width: 28rem;
    height: 20rem;
    margin: 2rem 3rem;
  }

  .box-within h4 {
    font-size: 3rem;
  }

  .box-within {
    font-size: 2rem;
  }

  .box-within-unit {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1450px) {
.aboutus__box {
  width: 50%;
  max-width: 65rem;
  min-width: 38rem;
}
}
